:root {
  --primary: #71b8ce;
  --secondary: #0e5d9e;
  --dark: #212121;
  --light: #f3f3f3;
}

.info-container {
  width: 100%;
  height: 18rem;
  background-color: rgba(122, 186, 202);
  border-radius: 2rem;
  box-shadow: 1rem 1rem 2rem gray;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
}

.imgs-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imgs-container img{
  width: 30%;
  height: 240px;
  margin-top:3.5%;
}
