.location-container {
    margin: 5px;
    width: 100%;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    margin:1rem;
}
.btn-head-container{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid rgba(161, 193, 221, 0.651);
    margin-bottom: 1rem ;
    text-align: center;
}

